/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color:black;
  }
  
  header {
    background: #0c99c8;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  
  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .about h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  